<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaskchat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/pastel-stream.css') }}" />
  </head>
  <body>

    <div class="container">
      <!-- Navbar -->
      <div class="row">
        <div class="col-lg-12">
          <div class="navbar navbar-default">
            <div class="navbar-collapse collapse navbar-responsive-collapse">

              {% if current_user.is_authenticated() %}
              <ul class="nav navbar-nav">
                <li>
                  <a href="{{ url_for('chat.create') }}">Create chat</a>
                </li>
                <li>
                  <a href="{{ url_for('chat.list') }}">Chat list</a>
                </li>
              </ul>
              <form class="navbar-form navbar-left" method="GET" action="{{ url_for('chat.search') }}">
                {{ chat_search_form.term(class='form-control col-lg-8', placeholder=chat_search_form.term.label.text) }}
              </form>
              {% endif %}

              <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_authenticated() %}
                  <li><p style="color:#ffffff; padding-top: 15px;">Welcome, {{ current_user.username }}</p></li>
                  <li>
                    <a href="{{ url_for_security('logout') }}">Logout</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ url_for_security('login') }}">Login</a>
                  </li>
                  <li>
                    <a href="{{ url_for_security('register') }}">Register</a>
                  </li>
                {% endif %}

              </ul>
            </div>
          </div>
        </div>
      </div>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-info">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      <div class="row">

        {% if current_user.is_authenticated() %}
           <div class="col-lg-3">

             {% if current_user.chat_subscriptions|length > 0 %}
               <h3>Chats</h3>
               <table class="table table-striped">
                 <tbody>
                    {% for chat in current_user.chat_subscriptions %}
                      <tr>
                        <td {% if active_chat and active_chat.id == chat.id %}class="info"{% endif %} style="padding: 5px 5px 5px 5px;">
                          {% if active_chat and active_chat.id == chat.id %}
                            {{ chat.title }}
                          {% else %}
                            <a href="{{ url_for('chat.show', chat_id=chat.id) }}">{{ chat.title }}</a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                 </tbody>
               </table>
             {% endif %}

           </div>
           <div class="col-lg-9">
        {% else %}
          <div class="col-lg-12">
        {% endif %}

          {% block content %}{% endblock %}

        </div>
      </div>
    </div>

    {% block javascripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

    <script type="text/javascript">
    {% block custom_js %}
      $(document).ready(function() {
          $('#{{ chat_search_form.term.id }}').on('keydown', function(e) {
              if (e.which == 13) {
                  $(this).parent().submit();
              }
          });
      });
    {% endblock %}
    </script>
  </body>
</html>

